
<template>
  <div>
    <DialogLoading label="Salvando..." v-if="loading.save"></DialogLoading>
    <v-btn icon class="mb-5" @click="$router.push({name:'IndexNews'})">
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-card>
      <v-card-title class="primary white--text">Criando nova publicação</v-card-title>
      <v-card-text class="mt-5">
        <v-form ref="form" v-model="validate_form">
          <v-text-field
           :rules="required"
            v-model="new_data.title"
            label="Título"
            prepend-icon="mdi-tooltip-text-outline">
          </v-text-field>
          <v-textarea
           :rules="required"
            v-model="new_data.text"
            prepend-icon="mdi-text"
            label="Texto">
          </v-textarea>
          <v-select 
            :rules="required"
            prepend-icon="mdi-shape"
            v-model="new_data.category"
            label="Categoria" 
            :items="Object.keys(category_map)"
          >
            <template v-slot:item="{item}">
              {{ category_map[item].name }}
            </template>
            <template v-slot:selection="{item}">
              {{ category_map[item].name }}
            </template>
          </v-select>
          <v-select 
            prepend-icon="mdi-account"
            v-model="new_data.author"
            label="Autor" 
            :items="authors"
            :loading="loading.authors"
            item-value="_id"
            item-text="name"
          >
          </v-select>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :disabled="!validate_form" color="success" @click="createNews">
          <v-icon left>mdi-content-save</v-icon>
          Salvar
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import Api from '@/api/index'
import validations from "@/mixins/validations"
export default {
  name: 'CreateNews',
  mixins: [ validations ],
  components: {
    //ComponentName: () => import(''),
  },
  data() {
    return {
      validate_form:false,
      authors:[
        {name:"Sem autor", _id: null},
      ],
      new_data:{
        title: "",
        text: "",
        category: "",
        author: "",
      },
      loading: {
        save: false,
        authors: false,
      },
    }
  },
  methods: {
    getData(){
      this.getAuthors()
    },
    prepareData(){
      this.checkAuthor()
      this.new_data.created_at = Date.now()
    },
    checkAuthor(){
      if(this.new_data.author == ""){
        this.new_data.author = null
      }
    },
    createNews(){
      if(this.$refs.form.validate()){
        this.loading.save = true
        this.prepareData()
        Api.News.create(this.new_data).then(()=>{
          this.$router.push({name:"IndexNews"})
        }).finally(()=>{
          this.loading.save = false
        })
      }
    },
    getAuthors(){
      this.loading.authors = true
      Api.Author.index().then(r => r.data).then(data => {
        this.authors = [...this.authors,...data]
      }).finally(()=>{
        this.loading.authors = false
      })
    },
  },
  mounted(){
    this.getData()
  }
}
</script>

<style scoped>

</style>