
<template>
  <div>
    <div>
      <v-card>
        <v-card-title primary-title class="primary white--text">
          <v-icon class="white--text" left>mdi-newspaper</v-icon>
          Últimas notícias
          <v-spacer></v-spacer>
          <v-text-field dark v-model="search"  append-icon="mdi-magnify" label="Pesquisar"></v-text-field>
        </v-card-title>
        <v-card-text>
          
          <SheetLoading class="mt-5" v-if="loading.news"></SheetLoading>
          <div v-if="!loading.news">
            <v-data-iterator :items="news" :search="search">
              <template v-slot:default="props">
                <v-sheet v-for="(item, key) in props.items" :key="key" @click="openNews(item._id)"
                  class="elevation-2 d-flex my-3 clickable" width="100%">
                  <v-sheet width="10%" class="d-flex justify-center rounded-tl-lg" :color="category_map[item.category]?.color">
                    <v-icon large :class="category_map[item.category]?.color">{{category_map[item.category]?.icon}}</v-icon>
                  </v-sheet>
                  <v-card flat width="100%">
                    <v-card-title class="d-flex">
                      <v-sheet width="85%" class="d-flex flex-column">
                        <span>{{ item.title }}</span>
                        <div class="d-flex">
                          <div class="d-block">
                            <v-chip small :class="[['text-caption'],[category_map[item.category]?.color]]">{{category_map[item.category]?.name}}</v-chip>
                          </div>
                          <div v-if="item.author">
                            
                            <span class="text-caption ml-1">Por {{ item.author.name }} <v-icon small>{{ item.author.icon }}</v-icon></span>
                          </div>
                        </div>
                      </v-sheet>
                      <v-spacer></v-spacer>
                      <span class="text-body-2" v-if="item.created_at">
                        {{ new Date(`${item.created_at}`).toLocaleDateString("pt-BR") }}
                      </span>
                    </v-card-title>
                    <v-card-text class="grey lighten-5 pt-5">
                      <span v-if="item.text.length > 80">
                        {{ item.text.substring(0, 80) }}...
                      </span>
                      <span v-else-if="item.text.length > 50">
                        {{ item.text.substring(0, 50) }}...
                      </span>
                      <span v-else-if="item.text.length > 20">
                        {{ item.text.substring(0, 20) }}...
                      </span>
                      <span v-else>
                        {{ item.text}}...
                      </span>
      
                    </v-card-text>
                  </v-card>
                </v-sheet>
              </template>
              <template v-slot:no-data>
                <span class="d-flex justify-center my-5">
                  <div>
                    Sem dados.
                  </div>
                </span>
              </template>
              <template v-slot:no-results>
                <span class="d-flex justify-center my-5">
                  <div>
                    Sem resultados para pesquisa.
                  </div>
                </span>
              </template>
            </v-data-iterator>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import Api from '@/api/index'
export default {
  name: 'IndexNews',
  components: {
  },
  data() {
    return {
      search:"",
      news: [],
      loading:{
        news: false,
      }
    }
  },
  methods: {
    getData(){
      this.getNews()
    },
    getNews(){
      this.loading.news = true
      Api.News.index().then(r => r.data).then(data => {
        this.news = [...data]
      }).finally(()=>{
        this.loading.news = false
      })
    },
    openNews(id) {
      this.$router.push({name:"ShowNews", params:{id}})
    },
  },
  computed: {
  },
  mounted(){
    this.getData()
  },
}
</script>

<style>
.clickable{
  cursor: pointer;
}
</style>