
<template>
  <div>
    <ArticleLoading v-if="loading.news"></ArticleLoading>
    <DialogLoading label="Deletando..." v-if="loading.deleting"></DialogLoading>
    <div v-if="!loading.news">
      <v-card flat width="100%">
        <v-card-title> 
          <v-btn icon @click="$router.push({name:'IndexNews'})">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-sheet width="100%" class="d-flex flex-column mt-5">
            <div class="d-flex">
              <v-chip :class="[[category_map[news.category].color],['mb-5']]">{{ category_map[news.category].name }}</v-chip>
              <v-spacer></v-spacer>
              <v-btn @click="deleteItem" icon color="error">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </div>
            <v-divider class="mb-2"></v-divider>
            <span class="text-h3">
              {{news.title}}
            </span>
          </v-sheet>
        </v-card-title>
        <v-card-text>
          <span class="mt-5 text-subtitle-1">
            {{news.text}}
          </span>
        </v-card-text>
      </v-card>
    </div>

  </div>
</template>

<script>
import Api from '@/api/index';

export default {
  name: 'ShowNews',
  components: {

  },
  data() {
    return {
      news:{
        title: "",
        text: "",
        category: -1,
      },
      loading:{
        news: true,
        deleting: false
      }
    }
  },
  methods: {
    getData(){
      this.getNews()
    },
    deleteItem(){
      this.loading.deleting = true
      let id = this.$route.params.id
      Api.News.delete(id).then( ()=> {
        this.$router.push({name:"IndexNews"})
      }).finally(()=>{
        this.loading.deleting = false
      })
    },
    getNews() {
      this.loading.news = true
      let id = this.$route.params.id
      Api.News.show(id).then( r => r.data).then(data => {
        this.news = {...data[0]}
      }).finally(()=>{
        this.loading.news = false
      })
    },

  },
  mounted(){
    this.getData()
  },
}
</script>