
<template>
  <div>
    <v-skeleton-loader type="image"></v-skeleton-loader>
    <v-skeleton-loader type="image"></v-skeleton-loader>
    <v-skeleton-loader type="article"></v-skeleton-loader>
  </div>
</template>

<script>

export default {
  name: 'ArticleLoading',
}
</script>