
<template>
  <v-dialog v-model="dialog">
    <v-progress-linear indeterminate></v-progress-linear>
    <v-sheet height="20vh" width="100%" class="d-flex justify-center align-center rounded-lg">
      <div class="d-flex flex-column justify-center align-center">
        <v-progress-circular
          :size="70"
          class="mb-3"
          color="primary"
          indeterminate
        ></v-progress-circular>
        {{ label }}
      </div>
    </v-sheet>
    <v-progress-linear indeterminate></v-progress-linear>
  </v-dialog>
</template>

<script>

export default {
  name: 'SheetLoading',
  props:{
    label:{
      Type: String,
      default: "Carregando..."
    }
  },
  data(){
    return{
      dialog: true
    }
  }
}
</script>