
<template>
  <v-footer class="primary mt-5 d-flex flex-column">
    <v-card class="flex primary" flat tile width="100%">
      <v-card-text class="py-2 white--text text-center">
        <div class="d-flex justify-space-around align-center">
          <div class="d-flex flex-column">
            <span>{{ new Date().getFullYear() }}</span>
            <span>Banco de Dados II</span>
          </div>
          <div>
            <strong>Thiago Corgosinho Silva</strong>
            (20.2.8117)
          </div>
        </div>
      </v-card-text>
    </v-card>
    <span class="white--text text-caption">Trabalho prático utilizando NodeJs para Backend com extensão mongoose para comunicar com banco e Vue2.js para Frontend</span>
  </v-footer>
</template>

<script>

export default {
  name: 'Footer',
}
</script>