
<template>
  <div>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <div class="d-flex flex-column justify-center font text-center text-h5 ml-1 mr-5">
          <span class="mb-n3">Minha</span>
          <span>Notícia</span>
        </div>
      </div>

      <v-btn class="ml-5" text to="/">PÁGINA PRINCIPAL</v-btn>
      <v-btn class="ml-5" text to="/authors">Autores</v-btn>
      <v-spacer></v-spacer>

      <v-btn outlined @click="$router.push({name:'CreateNews'})">
        <v-icon left>mdi-plus</v-icon>
        <span>Criar publicação</span>
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>

export default {
  name: 'Header',
}
</script>

<style scoped>
.font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
</style>