
<template>
  <v-sheet height="50vh" width="100%" class="d-flex justify-center align-center rounded-lg">
    <div class="d-flex flex-column justify-center align-center">
      <v-progress-circular
        :size="70"
        class="mb-3"
        color="primary"
        indeterminate
      ></v-progress-circular>
      {{ label }}
    </div>
  </v-sheet>
</template>

<script>

export default {
  name: 'SheetLoading',
  props:{
    label:{
      Type: String,
      default: "Carregando..."
    }
  }
}
</script>