
<template>
  <div>
    <DialogLoading label="Salvando..." v-if="loading.save"></DialogLoading>
    <v-dialog v-model="dialog" persistent>
      <v-card>
        <v-card-title class="primary white--text">Criando autor</v-card-title>
        <v-card-text class="mt-5">
          <v-form ref="form" v-model="validate_form">
            <v-text-field
             :rules="required"
              v-model="new_data.name"
              label="Nome"
              prepend-icon="mdi-account">
            </v-text-field>
            <v-select 
              :rules="required"
              prepend-icon="mdi-tag-faces"
              v-model="new_data.icon"
              label="Avatar" 
              :items="avatares"
            >
              <template v-slot:item="{item}">
                <v-icon>{{ item }}</v-icon>
              </template>
              <template v-slot:selection="{item}">
                <v-icon>{{ item }}</v-icon>
              </template>
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog = false" color="error" text>Cancelar</v-btn>
          <v-btn :disabled="!validate_form" color="success" @click="createAuthor">
            <v-icon left>mdi-content-save</v-icon>
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Api from '@/api/index'
import validations from "@/mixins/validations"
export default {
  name: 'CreateAuthorDialog',
  mixins: [ validations ],
  props:{
    change_dialog:{
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      dialog: false,
      validate_form:false,
      avatares:["mdi-emoticon-happy", "mdi-emoticon-angry", "mdi-emoticon-cool", "mdi-face-woman", "mdi-emoticon-wink" ],
      new_data:{
        name: "",
        icon: "",
      },
      loading: {
        save: false,
      },  
    }
  },
  methods: {
    createAuthor(){
      if(this.$refs.form.validate()){
        this.loading.save = true
        Api.Author.create(this.new_data).then(()=>{
          this.$emit('created')
          this.dialog = false
        }).finally(()=>{
          this.loading.save = false
        })
      }
    },
  },
  watch:{
    change_dialog(nv){
      if(nv){
        this.dialog = true
      }
    }
  }
}
</script>