
<template>
  <div>
    <div>
      <CreateAuthorDialog @created="getData" :change_dialog="dialog"></CreateAuthorDialog>
      <v-card>
        <v-card-title>
          <v-sheet class="d-flex flex-column" width="100%">
            <div class="d-flex">
              <v-icon left>mdi-account</v-icon>
              Autores
              <v-spacer></v-spacer>
              <v-btn small color="primary" @click="dialog = true">
                <v-icon small left>mdi-plus</v-icon>
                Cadastrar Autor
              </v-btn>
            </div>
            <v-text-field  v-model="search"  append-icon="mdi-magnify" label="Pesquisar"></v-text-field>
          </v-sheet>
        </v-card-title>
        <v-card-text>
          <SheetLoading class="mt-5" v-if="loading.authors"></SheetLoading>
          <div v-if="!loading.authors">
            <v-data-table :search="search" :items="authors" :headers="headers">
              <template v-slot:item.icon="{item}">
                <v-icon color="primary">{{ item.icon }}</v-icon>
              </template>
              <template v-slot:item.actions="{item}">
                <v-btn @click="deleteItem(item._id)" icon color="error">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import Api from '@/api/index'
export default {
  name: 'IndexNews',
  components: {
    CreateAuthorDialog: () => import("./CreateAuthorDialog.vue")
  },
  data() {
    return {
      dialog: false,
      search:"",
      authors: [
        {name: "Thiago", icon:"mdi-emoticon-happy"}
      ],
      headers:[
        { text:"Avatar", value:"icon", width: "10%" },
        { text:"Nome", value:"name", width:"80%" },
        { text:"Ações", value:"actions", width:"10%" },
      ],
      loading:{
        authors: false,
      }
    }
  },
  methods: {
    getData(){
      this.getAuthors()
    },
    getAuthors(){
      this.loading.authors = true
      Api.Author.index().then(r => r.data).then(data => {
        this.authors = [...data]
      }).finally(()=>{
        this.loading.authors = false
      })
    },
    deleteItem(id){
      this.loading.deleting = true
      Api.Author.delete(id).then( ()=> {
        this.getData()
      }).finally(()=>{
        this.loading.deleting = false
      })
    },
  },
  mounted(){
    this.getData()
  },
}
</script>

<style>
.clickable{
  cursor: pointer;
}
</style>