<template>
  <v-app>
    <Header></Header>
    <v-main>
      <v-container>
        <router-view/>
      </v-container>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components:{
    Header: () => import("@/components/shared/Header.vue"),
    Footer: () => import("@/components/shared/Footer.vue"),
  },
  data: () => ({
    //
  }),
};
</script>
