<template>
  <Authors></Authors>
</template>

<script>

  export default {
    name: 'AuthorsView',
    components:{
      Authors: () => import("@/components/authors/IndexAuthors.vue")
    }

  }
</script>
