<template>
  <CreateNews></CreateNews>
</template>

<script>

  export default {
    name: 'Home',
    components:{
      CreateNews: () => import("@/components/news/CreateNews.vue")
    }

  }
</script>
