<template>
  <IndexNews></IndexNews>
</template>

<script>

  export default {
    name: 'Home',
    components:{
      IndexNews: () => import("@/components/news/IndexNews.vue")
    }

  }
</script>
