<template>
  <ShowNews></ShowNews>
</template>

<script>

  export default {
    name: 'ShowNewsViews',
    components:{
      ShowNews: () => import("@/components/news/ShowNews.vue")
    }

  }
</script>
